.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 40%;
}

.form__line {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.form__input {
	border: 1px solid #000000;
  padding: 10px;
  border-radius: 10px;
	font-size: 15px;
}

.form__button {
	padding: 10px;
  border-radius: 10px;
	background-color: tomato;
	color: white;
	font-size: 16px;
	font-weight: 600;
}

.form__text {
	display: flex;
	align-items: flex-start;
	gap: 15px;
	width: 40%;
}

.form__log {
	font-weight: 600;
}

.register {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	gap: 15px;
}