.head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 70px;
	border-bottom: 1px rgba(0, 0, 0, 50%) solid;
	padding: 15px 20px;
}

.logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

.logo__title {
	font-size: 16px;
}

.logo__icon {
	width: 40px;
}

.nav__list {
	display: flex;
	gap: 50px;

}

.nav_item {
	width: 110px;
	height: 20px;
}

.icon {	
  display: none;
}

.icon__wrapper {
  width: 30px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.icon__menu {
  position: relative;
  width: 30px;
  height: 1px;
  background-color: #000000;
  top: -10px;
}

.icon__menu::before {
  position: absolute;
  content: "";
  top: -10px;
  left: 0;
  width: 30px;
  height: 1px;
  background-color: #000000;
}

.icon__menu::after {
  position: absolute;
  content: "";
  top: 10px;
  left: 0;
  width: 30px;
  height: 1px;
  background-color: #000000;
}

@media screen and (max-width: 700px) {
	.search__icon {
		width: 30px;
		height: 30px;
	}

	.logo__icon {
		width: 30px;
		height: 30px;
	}

	.logo__title {
		font-size: 14px;
	}

	.search input {
		width: 140px;
	}

	.icon {
    display: block;
    background-color: transparent;
    transition: all 0.5s ease 0s;
  }

  .icon--active {
    transform: rotate(90deg);
    transition: all 0.5s ease 0s;
  }

	.nav {
    position: fixed;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-color: #ffffff;
		overflow: auto;
		right: -100%;
  }

	.nav--active {
		right: 0;
	}

	.nav__list {
		flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    height: 100%;
	}

	.nav__item {
		font-size: 20px;
	}
}
